body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: darkslategray;
  z-index: 1000;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  color: white;
  transition: background-color 0.3s ease;
}

li a:hover {
  background-color: dimgray;
}
